body {
    font-family: 'Montserrat', sans-serif;
}

.side-list-menu {
    background-color: #FAFAFA;
    width: 80%;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #F7F4F7;
    border-radius: 3px;
    box-shadow: 0 0 10px #DBDBDB;
}

#current-weather-display {
    background-color: #FAFAFA;
    color: black;
    width: 93%;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #F7F4F7;
    border-radius: 3px;
    box-shadow: 0 0 10px #DBDBDB;
    margin-bottom: 25px;
}

#current-weather-display h1 {
    text-align: center;
}

#current-weather-forecast {
    padding: 15px;
}

#current-weather-forecast p {
    margin-top: 35px;
}

.list-group {
    margin-top: 15px;
}

.btn-group {
    width: 100%
}

.uvIndex {
    padding: 5px 20px;
    border-radius: 10px;
}

.uvIndexLow {
    background-color: #83D85A;
    color: white;
}

.uvIndexModerate {
    background-color: #E9D44F;
    color: white;
}

.uvIndexHigh {
    background-color: #F5973F;
    color: white;
}

.uvIndexVeryHigh{
    background-color: #E9453E;
    color: white;
}

.uvIndexExtreme {
    background-color: #CB60DB;
    color: white;
}

.hide {
    display: none;
}

#owmIcon {
    width: 100px;
}

hr {
    width: 93%;
    margin: 0 auto;
}
.dayDisplay {
    width: 150px;
    height: 175px;
    background-color: #037BFE;
    color: white;
    border-radius: 15px;
    text-align: center;
}
.owmIconSmall {
    margin: 0 auto;
}

.flexContainer {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}